<section id="error" class="error">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class="subtitulo">Error 404</p>
      </div>
      <div class="col-6">
        <img src="/assets/IMG/gif-error.gif" class="gif rounded-circle w-100">
      </div>
    </div>
  </div>
  <br>
  <div class="container text-center mt-2">
    <button type="button" class="btn btn-info"><a class="btn-error" href="/index"><i class="fas fa-arrow-circle-left"></i>  Volver</a></button>
  </div>
</section>
<app-footer></app-footer>




