/* ===== Footer ====== */
footer{
    position:static;
    position: unset;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.fa-solid.fa-angle-up{
    color: #f0f8ff;
}

/* ===== Redes Sociales Footer ====== */
.fab {
    color: #f0f8ff;
}