  <!-- Educación -->
  <section id="educacion" class="educacion container container-fluid rounded shadow-sm">
    <h2 class= "subtitulo" style="text-align:center;">Educación</h2>
    <div class="container text-center">
      <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
          <div *ngIf="usuarioLogueado">
            <button class="btn"><i class="fa-solid fa-pen-to-square" type="button"></i></button>
            <button class="btn"><i class="fa-regular fa-floppy-disk" type="button"></i></button>
            <button class="btn"><i class="fa-solid fa-trash-can" type="button"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row mt-4"> 
        <h3 class="titulo-curso p-2"> Curso: <strong>"Argentina Programa"</strong></h3>
        <div class="col-2">
          <img src="assets/IMG/Logo-ArgProg.png" class= "rounded-circle w-80" alt="Logo Argentina Programa" width="100%">
        </div>
        <div class="col-9 descripcion">
          <p style="text-align: justify;">Institución: <strong>Secretaría de Economía del Conocimiento, Ministerio de Economía de la Nación.</strong></p>
          <p style="text-align: justify;">Título: <strong> Desarrolladora Web Full Stack Jr. </strong></p>
          <div class="container px-4 text-center">
            <div class="row gx-3">
              <div class="col">
               <div class="p-3 border rounded w-80">
                <p>Primera etapa <strong>#Se Programar</strong></p>
                <p>Desde: Febrero del año 2022</p>
                <p>Hasta: Marzo del año 2022</p>
               </div>
              </div>
              <div class="col">
                <div class="p-3 border rounded w-80">
                  <p>Segunda etapa <strong>#Yo Programo</strong></p>
                  <p>Desde: Junio del año 2022</p>
                  <p>Hasta: Enero del año 2023</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <br>
      <hr>
      <div class="container text-center">
        <div class="row mt-4">
          <h3 class="titulo-curso p-2"> Curso: <strong> Idioma "Inglés"</strong></h3>
          <div class="col-2 p-2">
            <img src="assets/IMG/Logo-CUI.png" class= "rounded-circle w-80" alt="Logo CUI" width="100%">
          </div>
          <div class="col-9 descripcion">
            <p style="text-align: justify;">Institución: <strong>CUI</strong> "Centro Universitario de Idiomas", UBA.</p>
            <p style="text-align: justify;">Título: <strong> Inglés con orientación en programación. </strong></p>
            <p style="text-align: justify;">Desde: Diciembre del año 2022</p>
            <p style="text-align: justify;">Hasta: Enero del año 2023</p>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <hr>
      <div class="container text-center">
        <div class="row mt-4">
          <h3 class="titulo-curso p-2"><strong>"Secundario"</strong></h3>
          <div class="col-2 p-2">
            <img src="assets/IMG/Logo-oportunidades.png" class= "rounded-circle w-80" alt="Logo programa oportunidades" width="100%">
          </div>
          <div class="col-9 descripcion">
            <p style="text-align: justify;">Institución: <strong>Programa Oportunid@des </strong>perteneciente a la Dirección de Educación de Jóvenes y Adultos, CGE Provincia de Entre Ríos. </p>
            <p style="text-align: justify;">Título: <strong> Bachiller en Economía y Administración </strong></p>
            <p style="text-align: justify;">Desde: Julio del año 2019</p>
            <p style="text-align: justify;">Hasta: Julio del año 2022</p>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <hr>
      <div class="container text-center">
        <div class="row mt-4">
          <h3 class="titulo-curso p-2">Curso: <strong> "Confeccionista de Alta Costura"</strong></h3>
          <div class="col-2 p-2">
       <img src="assets/IMG/Logo-EJA.png" class= "rounded-circle w-80" alt="Logo EJA" width="100%">
          </div>
          <div class="col-9 descripcion">
            <p style="text-align: justify;">Institución: <strong> Dirección de Educación de Jóvenes y Adultos. CGE Provincia de Entre Ríos</strong>  </p>
            <p style="text-align: justify;">Título: <strong>Confeccionista a medida de Alta Costura</strong></p>
            <p style="text-align: justify;">Desde: Marzo del año 2019</p>
            <p style="text-align: justify;">Hasta: Julio del año 2021</p>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <hr>
      <div class="container text-center">
        <div class="row mt-4">
          <h3 class="titulo-curso p-2">Curso: <strong>Confeccionista a medida</strong></h3>
          <div class="col-2 p-2">
            <img src="assets/IMG/Logo-EJA.png" class= "rounded-circle w-80" alt="" width="100%">
          </div>
          <div class="col-9 descripcion">
            <p style="text-align: justify;">Institución: <strong> Dirección de Educación de Jóvenes y Adultos. CGE Provincia de Entre Ríos</strong> </p>
            <p style="text-align: justify;">Título: <strong> Modista</strong></p>
            <p style="text-align: justify;">Desde: Marzo del año 2018</p>
            <p style="text-align: justify;">Hasta: Diciembre del año 2018</p>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <hr> 
        <div class="container text-center">
          <div class="row mt-4">
            <h3 class="titulo-curso p-2">Curso: <strong> "Operadora de PC"</strong></h3>
            <div class="col-2 p-2">
              <img src="assets/IMG/Logo-pc.png" class= "rounded-circle w-80" alt="" width="100%">
            </div>
            <div class="col-9 descripcion">
              <p style="text-align: justify;">Institución: <strong>Asociación Civil para la investigación y el desarrollo de la ciencia informática (ACIDCI)</strong> </p>
              <p style="text-align: justify;">Título: <strong>Operadora de PC</strong> con orientación administrativa.</p>
              <p style="text-align: justify;">Desde: Marzo del año 1999</p>
              <p style="text-align: justify;">Hasta: Diciembre del año 1999</p>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      <br>