  <!-- Educacion -->
  <hr>
  <section id="educacion" class="educacion">
    <h2 class= "subtitulo" style="text-align:center;"> Educación </h2>
    <div class="container text-center">
      <div class="row mt-4"> 
        <h4 class="titulo-curso p-2"> Curso de programación <strong>"Argentina Programa"</strong></h4>
        <div class="col-4">
          <img src="/assets/IMG/logo-argentina-programa-ng.jpg" class= "rounded w-30" alt="" width="100%">
        </div>
        <div class="col-7">
          <ul>
            <li style="text-align: justify;">Primera etapa <strong>#Se Programar</strong></li>
            <li style="text-align: justify;">Segunda etapa <strong>#Yo Programo</strong> 2022 </li>
          </ul>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <div class="container text-center ">
      <div class="row mt-4">
        <h4 class="titulo-curso p-2">Curso de <strong> "Operadora de PC"</strong></h4>
        <div class="col-3 p-2">
          <img src="/assets/IMG/logo-pc.jpg" class= "rounded w-30" alt="" width="80%">
        </div>
        <div class="col-8">
          <p style="text-align: justify;">Curso de la <strong>Asociación Civil para la investigación y el desarrollo de la ciencia informática (ACIDCI)</strong> </p>
          <p style="text-align: justify;">Título de <strong>Operadora de PC</strong> con orientación administrativa. 1999</p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  <br>
</section>