  <!-- Educación -->
  <section id="educacion" class="educacion container container-fluid rounded shadow-sm">
    <h2 class= "subtitulo" style="text-align:center;">Educación</h2>
    <div class="container text-center">
      <div class="row mt-4"> 
        <h4 class="titulo-curso p-2"> Curso: <strong>"Argentina Programa"</strong></h4>
        <div class="col-2">
          <img src="/assets/IMG/logo-argentina-programa-ng.jpg" class= "rounded w-30" alt="" width="100%">
        </div>
        <div class="col-9">
          <ul>
            <li style="text-align: justify;">Primera etapa <strong>#Se Programar</strong>
              <p style="text-align: justify;">Desde: </p>
              <p style="text-align: justify;">Hasta: </p></li>
            <li style="text-align: justify;">Segunda etapa <strong>#Yo Programo</strong>
              <p style="text-align: justify;">Desde: </p>
              <p style="text-align: justify;">Hasta: </p></li>
          </ul>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  <hr>      
  <div class="container text-center">
    <div class="row mt-4">
      <h4 class="titulo-curso p-2"><strong>Secundario</strong></h4>
      <div class="col-2 p-2">
        <img src="./assets/IMG/Logo-oportunidades.png" class= "rounded w-30" alt="" width="100%">
      </div>
      <div class="col-9">
        <p style="text-align: justify;">Institución: <strong>Programa Oportunid@des </strong>perteneciente a la Dirección de Educación de Jóvenes y Adultos, CGE Provincia de Entre Ríos. </p>
        <p style="text-align: justify;">Título: <strong> Bachiller en Economia y Administración.</strong></p>
        <p style="text-align: justify;">Desde: 2019</p>
        <p style="text-align: justify;">Hasta: 2022</p>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <div class="row mt-4">
      <h4 class="titulo-curso p-2">Curso: <strong> "Confeccionista de Alta Costura"</strong></h4>
      <div class="col-2 p-2">
   <img src="./assets/IMG/Logo-EJA.jpg" class= "rounded w-30" alt="" width="60%">
      </div>
      <div class="col-9">
        <p style="text-align: justify;">Institución<strong></strong>Centro de formación para Jovenes y Adultos</p>
        <p style="text-align: justify;">Título: <strong>Confeccionista de Alta Costura</strong></p>
        <p style="text-align: justify;">Desde: </p>
        <p style="text-align: justify;">Hasta: </p>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <hr>
  <div class="container text-center">
    <div class="row mt-4">
      <h4 class="titulo-curso p-2">Curso: <strong>Confeccionista a medida</strong></h4>
      <div class="col-2 p-2">
        <img src="./assets/IMG/Logo-EJA.jpg" class= "rounded w-30" alt="" width="60%">
      </div>
      <div class="col-9">
        <p style="text-align: justify;">Institución: <strong>Asociación Civil para la investigación y el desarrollo de la ciencia informática (ACIDCI)</strong> </p>
        <p style="text-align: justify;">Título: <strong> Modista</strong></p>
        <p style="text-align: justify;">Desde: </p>
        <p style="text-align: justify;">Hasta: </p>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <hr> 
    <div class="container text-center">
      <div class="row mt-4">
        <h4 class="titulo-curso p-2">Curso: <strong> "Operadora de PC"</strong></h4>
        <div class="col-2 p-2">
          <img src="/assets/IMG/logo-pc.jpg" class= "rounded w-30" alt="" width="60%">
        </div>
        <div class="col-9">
          <p style="text-align: justify;">Institución: <strong>Asociación Civil para la investigación y el desarrollo de la ciencia informática (ACIDCI)</strong> </p>
          <p style="text-align: justify;">Título: <strong>Operadora de PC</strong> con orientación administrativa.</p>
          <p style="text-align: justify;">Desde: </p>
          <p style="text-align: justify;">Hasta: </p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  <br>
</section>