<!-- formulario edit educación REVISAR ANTES DE LINKEAR -->
<form [formGroup]="form" (ngSubmit)="onEnviar($event)"  name="educacionForm" class="bg-white rounded p-5 seccion"> 
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Educación</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink="/"></button>
            </div>
            <div  class="modal-body">
            <input type="hidden" formControlName="id" [ngModel]="educacion.id">
            <div class="mb-3">
                <label for="educacionImg" class="form-label">Modificar Logo</label>
                <input class="form-control" type="url"  formControlName="imagen" [ngModel]="educacion.imagen">
            </div>
            <div class="mb-3">educacion
                <label for="educacionEstudio" class="form-label">Agregar Institución</label>
                <input type="text" class="form-control"  formControlName="institucion" placeholder="Nombre nuevo" [ngModel]="educacion.institucion">
            </div>
            <div class="mb-3">
                <label for="educacioneducacion" class="form-label">Agregar Url</label>
                <input type="url" class="form-control"  formControlName="url" placeholder="Nombre nuevo" [ngModel]="educacion.url">
            </div>
            <div class="mb-3">
            <label for="educacioneducacion" class="form-label">Modificar educacion</label>
            <input type="text" class="form-control" formControlName="educacion" placeholder="Nombre nuevo" [ngModel]="educacion.educacion">
            <!--[ngClass]="{'is-invalid': educacionerrors && educaciontouched, 'is-valid': !educacionerrors && educaciontouched}" ESTO VA ARRIBA-->
         
            </div>     
            <div class="mb-3">
            <label for="educacionPeriodoInicio" class="form-label">Modificar Periodo Inicio</label>
            <input type="date" class="form-control" formControlName="inicio" [ngModel]="educacion.inicio">
            </div>
            <div class="mb-3">
            <label for="educacionPeriodoFin" class="form-label">Modificar Periodo Fin</label>
            <input type="date" class="form-control"  formControlName="fin" [ngModel]="educacion.fin">
            </div>
            <div class="mb-3">
                <label for="educacionInfo" class="form-label">Modificar Información de educacion Realizado</label>
                <textarea class="form-control"  rows="3" formControlName="descripcion" [ngModel]="educacion.descripcion" ></textarea>
                <!--[ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid': !Descripcion.errors && Descripcion.touched} ESTO VA ARRIBA
                </div>-->
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btnLogin">Guardar</button>
            </div>
        </div>
    </div>
</div>
</form>

