<!-- Formulario "Modal Educacion" -->
<form [formGroup]="form" (ngSubmit)="onEnviar($event)"  name="educacionForm" class="bg-white rounded p-5 seccion">
    <!-- Modal -->
    <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Educación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div  class="modal-body">
                    <input type="hidden" formControlName="id" [(ngModel)]="educacion.id">
                    <div class="mb-3">
                        <label for="educacionlogo" class="form-label">Modificar Logo</label>
                        <input class="form-control" type="file"  formControlName="Logo" [(ngModel)]="educacion.logo">
                    </div>
                    <div class="mb-3">
                        <label for="educacioninstitucion" class="form-label">Modificar Institución</label>
                        <input type="text" class="form-control"  formControlName="institucion" placeholder="Nombre de la Institucion" [(ngModel)]="educacion.institucion">
                        <p *ngIf="educacion.hasError('required')" class="text-danger">
                            El Nombre de la Institución es requerido!
                        </p>
                    </div> 
                    <div class="mb-3">
                        <label for="educacioncurso" class="form-label">Modificar Curso</label>
                        <input type="text" class="form-control" formControlName="educacion" placeholder="Curso" [(ngModel)]="educacion.curso" [ngClass]="{'is-invalid': educacion.errors && educacion.touched, 'is-valid': !educacion.errors && educacion.touched}"> 
                    </div>
                    <div class="mb-3">
                        <label for="educacionPeriodoInicio" class="form-label">Modificar Desde</label>
                        <input type="date" class="form-control" formControlName="desde" [(ngModel)]="educacion.desde"> 
                    </div>
                    <div class="mb-3">
                        <label for="educacionPeriodoFin" class="form-label">Modificar Hasta</label>
                        <input type="date" class="form-control"  formControlName="hasta" [(ngModel)]="educacion.hasta">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
                    <button type="submit" class="btn btnLogin">Guardar Cambios</button>
                <!--(click)=""poner esto en guardar pero hacer antes el ts-->
                </div>
            </div>
        </div>
    </div>
</form>

