<!--Footer-->
<section id="footer" class="footer">
    <div class="container-fluid bg py-1 px-sm-1 px-md-5">
      <div class="container text-center py-3">
        <div class="d-flex justify-content-center text-white mb-3" >
          <a class="btn btn-social mr-2" *ngFor="let redsocial of redesFooter" href={{redsocial.url}} target="_blank"><i [ngClass]=redsocial.icono></i></a>
        </div>
        <p style="color: #f0f8ff;">&copy; Copyright Viviana Verachtert - 2022</p>
        <div class="position-relative">
          <div class="position-absolute bottom-0 end-0"><a href="#"><button class="btn text-white"><i class="fa-solid fa-angle-up "></i></button></a></div>
        </div>
      </div>
    </div>  
  </section>
