/* ===== Footer ====== */
footer{
    position:static;
    position: unset;
    width: 100%;
    height: 100%;
    padding: 1rem;
}


/* ===== Redes Sociales Footer ====== */
.fab {
    color: rgb(240, 248, 255);
}

