<app-navbar></app-navbar>
<!-- Dahsboard-->
<section id="panel" class="panel">
    <h1 class="subtitulo text-center">Panel de Edición</h1>

    <div class="container text-center d-flex">
      <div class="row mt-4">
        <div class="col-4 text-center">
          <div class="card" >
            <a href="#" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#acercademiModal">
              <img src="./assets/IMG/Acerca_de_MI.png" class="card-img" alt="...">
            </a>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="card" >
            <a href="#" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#experienciasModal">
              <img src="./assets/IMG/Experiencia.png" class="card-img-top" alt="...">
            </a>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="card" >
            <a href="#" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#educacionModal">
              <img src="./assets/IMG/Educacion.png" class="card-img-top" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center d-flex">    
      <div class="row mt-4">
        <div class="col-4 text-center">
          <div class="card" >
            <a href="#" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#skillsModal">
              <img src="./assets/IMG/Skills.png" class="card-img-top" alt="...">
            </a>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="card" >
            <a href="#" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#proyectosModal">
              <img src="./assets/IMG/Proyectos.png" class="card-img-top" alt="...">
            </a>
          </div>
        </div>
        <div class="col-4 text-center">
          <div class="card" >
            <a href="#" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#redesModal">
              <img src="./assets/IMG/Redes_Sociales.png" class="card-img-top" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
  <app-acercademi-modal></app-acercademi-modal>
  <app-experiencia-modal></app-experiencia-modal>
  <app-educacion-modal></app-educacion-modal>
  <app-skill-modal></app-skill-modal>
  <app-proyectos-modal></app-proyectos-modal>
  <app-redes-modal></app-redes-modal>