<app-navbar-dashboard></app-navbar-dashboard>
<!-- Dahsboard-->
<section id="panel" class="panel">
  <h1 class="subtitulo text-center">PANEL DE EDICIÓN</h1>
  <div class="container text-center d-flex">
    <div class="row mt-4">
      <div class="col-sm-6 col-md-6 col-lg-6 text-center">
        <button class="card" id="dashboard" data-bs-toggle="modal" data-bs-target="#acercademiModal">
          <img src="./assets/IMG/Acerca_de_MI.png" class="card-img" alt="Edición de Acerca de mi" type="button">
        </button>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-center mt-4">
        <button class="card" id="dashboard" data-bs-toggle="modal" data-bs-target="#experienciasModal">
          <img src="./assets/IMG/Experiencia.png" class="card-img-top" alt="Edición de experiencia laboral" type="button">
        </button>
      </div>
    </div>
  </div>
  <div class="container text-center d-flex">    
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 text-center mt-4">
        <button class="card" id="dashboard" data-bs-toggle="modal" data-bs-target="#educacionModal">
          <img src="./assets/IMG/Educacion.png" class="card-img-top" alt="Edición de educación" type="button">
        </button>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-center mt-4">
        <button class="card" id="dashboard" data-bs-toggle="modal" data-bs-target="#skillsModal">
          <img src="./assets/IMG/Skills.png" class="card-img-top" alt="Edición de habilidades" type="button"> 
        </button>
      </div>
    </div>
  </div>
  <div class="container text-center d-flex">    
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 text-center mt-4">
        <button class="card" id="dashboard" data-bs-toggle="modal" data-bs-target="#proyectosModal">
          <img src="./assets/IMG/Proyectos.png" class="card-img-top" alt="Edición de Proyecto" type="button">
        </button>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 text-center mt-4">
        <button class="card" id="dashboard" data-bs-toggle="modal" href="#exampleModalToggle">
          <img src="./assets/IMG/Redes_Sociales.png" class="card-img-top" alt="Edición de redes sociales">
        </button>
      </div>
    </div>
  </div>
</section> 

<!--Modal para redes-->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-fullscreen-lg-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Redes Sociales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Elija la opción que desee para crear, editar o eliminar las redes sociales.
        <div class="d-grid gap-2 col-sm-6 col-md-6 col-lg-6 mx-auto">
          <button class="btn btn-primary mt-4" type="button" data-bs-target="#redesModal" data-bs-toggle="modal">Redes Sociales navbar</button>
          <button class="btn btn-primary" type="button" data-bs-target="#redSFooterModal" data-bs-toggle="modal">Redes Sociales footer</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
          <button class="btn btn-outline-secondary me-md-2" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- Modales del Dahsboard-->
  <app-persona-modal></app-persona-modal>
  <app-experiencia-modal></app-experiencia-modal>
  <app-educacion-modal></app-educacion-modal>
  <app-skill-modal></app-skill-modal>
  <app-proyectos-modal></app-proyectos-modal>
  <app-redes-modal></app-redes-modal>
  <app-rsocialfooter-modal></app-rsocialfooter-modal>
