  <!-- Experiencia-->
  <section id="experiencia" class="experiencia container container-fluid rounded shadow-sm">
    <div class="container">
      <div class="container text-center">
      <h2 class="subtitulo text-center" id="experiencia">Experiencia</h2>
      <div class="container text-center"></div>
      <div class="row mt-4" *ngFor="let experiencia of experiencias">
        <div class="col-2">
          <img [src]="experiencia.logo_expe" class= "rounded w-80" alt="" width="100%">
        </div>
        <div class="col-9 descripcion descripcion">
          <p style="text-align: justify;">Empresa: <strong>{{experiencia.nombre_empresa}}</strong></p>
          <p style="text-align: justify;">Cargo: <strong>{{experiencia.puesto}}</strong></p>
          <p style="text-align: justify;">Desde: {{experiencia.desde}}</p>
          <p style="text-align: justify;">Hasta: {{experiencia.hasta}}</p>
        </div>
        <div class="col"></div>
      </div>
      <br>
    </div>
  </div>
  </section>