<!-- Modal -->
<div class="modal fade" id="redSFooterModal" tabindex="-1" aria-labelledby="redSFooterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Redes Sociales del Footer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div  class="modal-body">
          <!-- Formulario "Modal Redes Sociales"-->
          <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="redSFooterForm" class="bg-white rounded seccion">
            <ul class="p-0">
              <li *ngFor="let redfooter of redesSFooter" class="d-flex justify-content-between align-items-center m-1 ">
                <span>{{redfooter.id}} {{redfooter.icono|uppercase}}</span>
                <span class="d-flex justify-content-between gap-2">
                  <!--Lapiz para editar-->
                  <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(redfooter.id)">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
  
                  <!--Boton para borrar-->
                  <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0" (click)="borrar(redfooter.id)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </span>
              </li>
            </ul>
            <!--Validacion condicional-->
            <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">ID:</span>
              </div>
              <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
            </div>

            <input type="hidden" formControlName="id">
            <div class="mb-3">
              <label for="icono_red" class="form-label">Icono</label>
              <input class="form-control" type="url"  formControlName="icono_red" placeholder="Enlace del Icono de Fort Awesome"[ngClass]="{'is-invalid': icono_redInvalido, 'is-valid': icono_redValido}">
              <div *ngIf="icono_red?.errors && icono_red?.touched">
                  <p *ngIf="icono_red?.hasError('required')" class="text-danger">
                      Campo requerido.
                  </p>
                  <p *ngIf="icono_red?.errors?.['minlength']" class="text-danger">
                      Debe ser de 3 o más caracteres.
                  </p>
              </div>
            </div>
            <div class="mb-3">
              <label for="url" class="form-label">URL</label>
              <input class="form-control" type="url"  formControlName="url" placeholder="URL" [ngClass]="{'is-invalid': urlInvalido, 'is-valid': urlValido}">
              <div *ngIf="url?.errors && url?.touched">
                  <p *ngIf="url?.hasError('required')" class="text-danger">
                      Campo requerido.
                  </p>
                  <p *ngIf="url?.errors?.['minlength']" class="text-danger">
                      Debe ser de 3 o más caracteres.
                  </p>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              <button type="submit" (click)="guardar()" class="btn btnLogin">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
