/*=====Titulo de Curso=======*/
.titulo-curso {
    font-family: 'Expletus Sans', cursive;
}
.col .p-3{
    background-color: #ebeaec;
}
/*=====Font info cursos====*/
.col-9.descripcion{
    font-family: 'Roboto', sans-serif;
}
.bg-light{
    background-color: #faebd7;
}
