<!-- Proyectos -->
<section id="proyectos" class="proyectos container container-fluid rounded shadow-sm">
  <div class="container">
    <h2 class="subtitulo text-center">Proyectos</h2>
    <div class="container text-center">
      <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
          <div *ngIf="usuarioLogueado">
            <button class="btn"><i class="fa-solid fa-pen-to-square" type="button"></i></button>
            <button class="btn"><i class="fa-regular fa-floppy-disk" type="button"></i></button>
            <button class="btn"><i class="fa-solid fa-trash-can" type="button"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let proyecto of proyectos"> 
      <p class= "texto-proyectos mt-4" style="text-align: justify;">
      {{proyecto.descripcion}}</p>
      <div class="col-3">
      </div>
      <div class="col-6">
        <div class="card">
          <img [src]="proyecto.imagenProyecto" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">"Mi portfolio"</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</section>
