<app-navbar></app-navbar>
<!-- Formulario de login -->
<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <form>
          <div class="mb-3">
            <label for="idE" class="form-label">Correo</label>
            <input type="email" class="form-control" id="idE" aria-describedby ="idEH">
            <div id="idEH" class="form-text">Debe ser un correo válido.</div>
          </div>
      
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
      
          <button type="submit" class="btn btn">Enviar</button>
        </form>
        <small>Si no tenes cuenta<a routerLink="/registro">Registrate</a></small>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</section>
