<!-- Modal -->
<div class="modal fade" id="acercademiModal" tabindex="-1" aria-labelledby="acercademiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Acerca de mi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
      </div>
      
      <div  class="modal-body">
        <!-- Formulario "Modal Acerca_de_MI"-->
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="bg-white rounded seccion">
          <ul class="p-0">
            <li *ngFor="let persona of personas" class="d-flex justify-content-between align-items-center m-1 ">
              <span>{{persona.id}} {{persona.nombre|uppercase}}{{persona.apellido|uppercase}}</span>
              <span class="d-flex justify-content-between gap-2">
                <!--Lapiz para editar-->
                <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(persona.id)">
                  <i class="fa-solid fa-pencil"></i>
                </button>

                <!--Boton para borrar-->
                <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0" (click)="borrar(persona.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </span>
            </li>
          </ul>

          <!--Validacion condicional-->
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1">ID:</span>
            </div>
            <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
          </div>
          <input type="hidden" formControlName="id">
          
          <div class="mb-3">
            <label for="foto_perfil" class="form-label">Foto de Perfil</label>
            <input class="form-control" type="file"  formControlName="foto_perfil" placeholder="Imagen de perfil(formato 4x4 o cuadrada)" [ngModel]="foto_perfil">
          </div>

          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control"  formControlName="nombre" placeholder="Nombre" [ngModel]="nombre" [ngClass]="{'is-invalid': nombreInvalido, 'is-valid': nombreValido}">
            <div *ngIf="nombre?.errors && nombre?.touched">
              <p *ngIf="nombre?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="nombre?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
            </div>
          </div>
        
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido" [ngModel]="apellido" [ngClass]="{'is-invalid': apellidoInvalido, 'is-valid': apellidoValido}">
            <div *ngIf="apellido?.errors && apellido?.touched">
              <p *ngIf="apellido?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="apellido?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div>

          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" formControlName="titulo" placeholder="Título" [ngModel]="titulo">
          </div>

          <div class="mb-3">
            <label for="textsobre_mi" class="form-label">Acerca de mi parrafo (1)</label>
            <textarea type="text" class="form-control"  formControlName="textsobre_mi" placeholder="Breve descripción" [ngModel]="textsobre_mi"></textarea>
          </div>
        
          <div class="mb-3">
            <label for="textsobre_mi2" class="form-label">Acerca de mi parrafo (2)</label>
            <textarea type="text" class="form-control"  formControlName="textsobre_mi2" placeholder="Breve descripción" [ngModel]="textsobre_mi2"></textarea>
          </div>
        
          <div class="mb-3">
            <label for="textsobre_mi3" class="form-label">Acerca de mi parrafo (3)</label>
            <textarea type="text" class="form-control"  formControlName="textsobre_mi3" placeholder="Breve descripción" [ngModel]="textsobre_mi3"></textarea>
          </div>

          <div class="mb-3">
            <label for="cv" class="form-label">Curriculum Vitae</label>
            <input class="form-control" type="file"  formControlName="cv" [ngModel]="cv">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="submit" (click)="guardar()" class="btn btnLogin">Guardar</button>
      </div>
    </div>
  </div>
</div>