<!-- Modal -->
<div class="modal fade" id="acercademiModal" tabindex="-1" aria-labelledby="acercademiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Acerca de mi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
      </div>
      <div  class="modal-body">
        <form [formGroup]="form" class="bg-white rounded seccion">
          <ul class="p-0">
            <li *ngFor="let persona of personas" class="container-fluid">
              <div class="row g-0 mb-4">
                <div class="col-sm-6 col-md-8"></div>
                <div class="col-6 col-md-4 mt-4">
                  <span class="d-flex">       
                    <!--Lapiz para editar-->
                      <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(persona.id)" data-bs-toggle="modal" data-bs-target="#ModalPersonaEdit" title="Editar">
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                  </span>
                </div>
              </div>
              <div class="container-fluid"> 
                <div class="card">
                  <img src="./../../../assets/IMG/banner.png" class="card-img" alt="...">
                  <div class="card-img-overlay text-center">
                    <h1 class="nombre-dashboard">{{persona.nombre}} {{persona.apellido}}</h1><br>
                    <p class="titulo-dashboard mb-4"><strong>{{persona.titulo}}</strong></p> 
                  </div>
                </div>
                <div class="card-body mt-4">
                  <br>
                  <div class="container text-center mt-4">
                    <div class="foto-dashboard">
                      <img [src]="persona.foto_perfil" class="rounded-circle w-25"  alt="Viviana Verachtert" title="..."/>
                    </div>
                  </div>
                  <div class="container">
                    <h2 class="subtitulo text-center mt-4">Acerca de mi</h2>
                  </div>
                  <br>
                  <div class="container">
                    <p>{{persona.textsobre_mi}}</p>
                    <p>{{persona.textsobre_mi2}}</p>
                    <p>{{persona.textsobre_mi3}}</p>
                    <a [href]="persona.cv" download="vivianaverachtert_cv" type="button" class="btn btn-outline mt-4 text-center"><i class="fa-solid fa-download"> Descargar CV</i></a>
                    <br>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>


<!-- Inicio de Modal de Edición de Persona-->
<div class="modal fade" id="ModalPersonaEdit" name="ModalPersonaEdit" tabindex="-1" aria-labelledby="ModalPersonaEditLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Acerca de mi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
      </div>
      
      <div  class="modal-body">
        <form [formGroup]="form" class="bg-white rounded seccion">
          <!--Validacion condicional-->
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1">ID:</span>
            </div>
            <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
          </div>
          <input type="hidden" formControlName="id">
          
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control"  formControlName="nombre" placeholder="Nombre" [ngClass]="{'is-invalid': nombreInvalido, 'is-valid': nombreValido}">
            <div *ngIf="nombre?.errors && nombre?.touched">
              <p *ngIf="nombre?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="nombre?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
            </div>
          </div>
        
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido" [ngClass]="{'is-invalid': apellidoInvalido, 'is-valid': apellidoValido}">
            <div *ngIf="apellido?.errors && apellido?.touched">
              <p *ngIf="apellido?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="apellido?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div>

          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" formControlName="titulo" placeholder="Título" [ngClass]="{'is-invalid': tituloInvalido, 'is-valid': tituloValido}">
            <div *ngIf="titulo?.errors && titulo?.touched">
              <p *ngIf="titulo?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="titulo?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div>

          <div class="mb-3">
            <label for="foto_perfil" class="form-label">Foto de Perfil</label>
            <input class="form-control" type="url"  formControlName="foto_perfil" placeholder="Ej: https://i.ibb.co/swNHj2v/IMG-20220819-215820.jpg">
            <div *ngIf="foto_perfil?.errors && foto_perfil?.touched">
              <p *ngIf="foto_perfil?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="foto_perfil?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
            </div>
          </div>

          <div class="mb-3">
            <label for="textsobre_mi" class="form-label">Acerca de mi parrafo (1)</label>
            <textarea type="text" class="form-control"  formControlName="textsobre_mi" placeholder="Breve descripción" [ngClass]="{'is-invalid': textsobre_miInvalido, 'is-valid': textsobre_miValido}"></textarea>
            <div *ngIf="textsobre_mi?.errors && textsobre_mi?.touched">
              <p *ngIf="textsobre_mi?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="textsobre_mi?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div>
        
          <div class="mb-3">
            <label for="textsobre_mi2" class="form-label">Acerca de mi parrafo (2)</label>
            <textarea type="text" class="form-control"  formControlName="textsobre_mi2" placeholder="Breve descripción" [ngClass]="{'is-invalid': textsobre_mi2Invalido, 'is-valid': textsobre_mi2Valido}"></textarea>
            <div *ngIf="textsobre_mi2?.errors && textsobre_mi2?.touched">
              <p *ngIf="textsobre_mi2?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="textsobre_mi2?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div>
        
          <div class="mb-3">
            <label for="textsobre_mi3" class="form-label">Acerca de mi parrafo (3)</label>
            <textarea type="text" class="form-control"  formControlName="textsobre_mi3" placeholder="Breve descripción" [ngClass]="{'is-invalid': textsobre_mi3Invalido, 'is-valid': textsobre_mi3Valido}"></textarea>
            <div *ngIf="textsobre_mi3?.errors && textsobre_mi3?.touched">
              <p *ngIf="textsobre_mi3?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="textsobre_mi3?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div>

          <div class="mb-3">
            <label for="cv" class="form-label">Curriculum Vitae</label>
            <input class="form-control" type="url" formControlName="cv">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button type="submit" (click)="guardar()" class="btn btnLogin" [disabled]="form.invalid">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin de Modal de Edición de Persona-->
