  <!-- Hard & Soft Skills-->
  <section id="habilidades" class="habilidades container container-fluid rounded shadow-sm">
    <div class="container">
      <h2 class="subtitulo text-center">Hard & Soft Skills</h2>
      <p class= "texto-habilidades mt-4" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta labore quia veritatis commodi quos a consequatur. Nobis aspernatur fuga ab, officiis voluptatum pariatur quaerat, nesciunt magnam quibusdam itaque, nulla quos.</p>
    </div>
    
    <div class="row progress-circle-container text-center">
      <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <div class="progress-circle progress-50"><span>50</span></div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <div class="progress-circle progress-75"><span>75</span></div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <div class="progress-circle progress-80"><span>80</span></div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <div class="progress-circle progress-90"><span>90</span></div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center">
        <div class="progress-circle progress-100"><span>100</span></div>
      </div>
    </div>
    <br>
  </section>
