  <!-- Hard & Soft Skills-->
  <section id="habilidades" class="habilidades container container-fluid rounded shadow-sm">
    <div class="container">
      <h2 class="subtitulo text-center">Hard & Soft Skills</h2>
      <p class= "texto-habilidades mt-4" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta labore quia veritatis commodi quos a consequatur. Nobis aspernatur fuga ab, officiis voluptatum pariatur quaerat, nesciunt magnam quibusdam itaque, nulla quos.</p>
    </div>
    
    <div class="row progress-circle-container text-center">
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-90"><span><i class="fa-brands fa-html5"></i></span></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-50"><span><i class="fa-brands fa-css3-alt"></i></span></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-90"><span><i class="fa-brands fa-bootstrap"></i></span></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-80"><span><i class="fa-brands fa-angular"></i></span></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-90"><span><i class="fa-solid fa-people-group"></i></span></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-75"><span><i class="fa-solid fa-book-open-cover"></i></span></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-100"><span>100</span></div>
      </div>
    </div>
    <br>
  </section>
