  <!-- Hard & Soft Skills-->
  <section id="habilidades" class="habilidades container container-fluid rounded shadow-sm">
    <div class="container">
      <h2 class="subtitulo text-center">Hard & Soft Skills</h2>
    </div>
    
    <div class="row progress-circle-container text-center">
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-90"><span><i class="fa-brands fa-html5"></i></span></div>
        <p>"HTML"</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-50"><span><i class="fa-brands fa-css3-alt"></i></span></div>
        <p>"CSS"</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-90"><span><i class="fa-brands fa-bootstrap"></i></span></div>
        <p>"Bootstrap"</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-80"><span><i class="fa-brands fa-angular"></i></span></div>
        <p>"Angular"</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-50"><span><i class="fa-solid fa-language"></i></span></div>
        <p>"Ingles"</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-90"><span><i class="fa-solid fa-people-group"></i></span></div>
        <p>"Trabajo en equipo"</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-75"><span><i class="fa-solid fa-book-open"></i></span></div>
        <p>""</p>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 text-center">
        <div class="progress-circle progress-100"><span>100%</span></div>
        <p>"Ganas de aprender"</p>
      </div>
    </div>
    <br>
  </section>
