<!-- Formulario "Modal Skills" REVISAR ANTES DE LINKEAR  FALTAN LOS NG-->
<form [formGroup]="form" name="skillForm" class="bg-white rounded seccion">
    <!-- Modal -->
    <div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="skillsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Skill</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div  class="modal-body">
            <input type="hidden" formControlName="id">

            <div class="mb-3">
              <label for="nombre_skill" class="form-label">Habilidad</label>
              <input type="text" class="form-control" formControlName="nombre_skill" placeholder="Describe la habilidad ej: Angular, etc." [ngClass]="{'is-invalid': nombre_skillInvalido, 'is-valid': nombre_skillValido}">
              <div *ngIf="nombre_skill?.errors && nombre_skill?.touched">
                <p *ngIf="nombre_skill?.hasError('required')" class="text-danger">
                  Campo requerido.
                </p>
                <p *ngIf="nombre_skill?.errors?.['minlength']" class="text-danger">
                  Debe ser de 2 o más caracteres.
                </p>
              </div>              
            </div>

            <div class="mb-3">
              <label for="span" class="form-label">Icono</label>
              <input type="url" class="form-control" formControlName="span" placeholder="URL Icono de Fort Awesome" [ngClass]="{'is-invalid': spanInvalido, 'is-valid': spanValido}">
              <div *ngIf="span?.errors && span?.touched">
                <p *ngIf="span?.hasError('required')" class="text-danger">
                  Campo requerido.
                </p>
                <p *ngIf="span?.errors?.['minlength']" class="text-danger">
                  Debe ser de 2 o más caracteres.
                </p>
              </div> 
            </div>

            <div class="mb-3">
              <label for="porcentaje" class="form-label">Porcentaje</label>
              <input type="number" class="form-control"  formControlName="porcentaje" placeholder="Porcentaje" [ngClass]="{'is-invalid': porcentajeInvalido, 'is-valid': porcentajeValido}">
              <div *ngIf="porcentaje?.errors && porcentaje?.touched">
                <p *ngIf="porcentaje?.hasError('required')" class="text-danger">
                  Campo requerido.
                </p>
              </div> 
            </div>

            <div class="modal-footer">
              <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              <button type="submit" (click)="guardar()" class="btn btnLogin">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
