<!-- Modal -->
<div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="skillsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Skill</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div  class="modal-body">
       <!-- Formulario "Modal Skills" -->
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="skillForm" class="bg-white rounded seccion">
          <div class="habilidades container container-fluid rounded shadow-sm">
            <div class="container">
              <ul class="p-0">
                <li *ngFor="let habilidad of habilidades" class="skill-info mt-3 text-center">
                  <p style="font-size: large;"><i [ngClass]=habilidad.span class="fa-2xl"></i> {{habilidad.nombre_skill}}</p>
                  <div class="row">
                    <div class="col-9 text-center">
                      <div class="progress" style="height: 1.5rem" role="progressbar" aria-label="Info striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]= "habilidad.porcentaje">{{habilidad.porcentaje}} %</div></div>
                    </div>
                    <div class="col-3">
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-outline-success me-md-2" type="button" (click)="cargarDetalle(habilidad.id)"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0" type="button" (click)="borrar(habilidad.id)"><i class="fa-solid fa-trash"></i></button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <br>
            </div>
          </div>
          
            <!--Validacion condicional-->
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1">ID:</span>
            </div>
            <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
          </div>
          
          <input type="hidden" formControlName="id">

          <div class="mb-3">
            <label for="nombre_skill" class="form-label">Habilidad</label>
            <input type="text" class="form-control" formControlName="nombre_skill" placeholder="Habilidad ej: Angular, HTML, idioma, etc." [ngClass]="{'is-invalid': nombre_skillInvalido, 'is-valid': nombre_skillValido}">
            <div *ngIf="nombre_skill?.errors && nombre_skill?.touched">
              <p *ngIf="nombre_skill?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="nombre_skill?.errors?.['minlength']" class="text-danger">
                Debe ser de 2 o más caracteres.
              </p>
            </div>              
          </div>

          <div class="mb-3">
            <label for="span" class="form-label">Icono</label>
            <input type="text" class="form-control" formControlName="span" placeholder="Icono de Font Awesome. ej: fa-brands fa-angular" [ngClass]="{'is-invalid': spanInvalido, 'is-valid': spanValido}">
            <div *ngIf="span?.errors && span?.touched">
              <p *ngIf="span?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="span?.errors?.['minlength']" class="text-danger">
                Debe ser de 2 o más caracteres.
              </p>
            </div>
            <p>Haga <a href="https://fontawesome.com/search">click aquí</a> para buscar el ícono.</p> 
          </div>

          <div class="mb-3">
            <label for="porcentaje" class="form-label">Porcentaje</label>
            <input type="text" class="form-control" formControlName="porcentaje" placeholder="Porcentaje" [ngClass]="{'is-invalid': porcentajeInvalido, 'is-valid': porcentajeValido}">
            <div *ngIf="porcentaje?.errors && porcentaje?.touched">
              <p *ngIf="porcentaje?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
            </div> 
          </div>

          <div class="modal-footer">
            <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
            <button type="submit" (click)="guardar()" class="btn btnLogin">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  