#login{
    background-color: rgb(240, 248, 255);
    background-size: cover;
    min-height: 100vh;
}

.login{
    margin-top: 4rem;
}

.btn.btn{
    background-color:#f04d84;
    color: #f0f8ff;
}

