<!-- Formulario "Modal Experiencia" REVISAR ANTES DE LINKEAR FALTA NG -->
<form class="bg-white rounded seccion">
  <!-- Modal -->
  <div class="modal fade" id="experienciasModal" tabindex="-1" aria-labelledby="experienciasModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Experiencia Laboral</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div  class="modal-body">
          <input type="hidden" formControlName="id">
          
          <div class="mb-3">
            <label for="nombre_empresa" class="form-label">Empresa</label>
            <input type="text" class="form-control"  formControlName="nombre_empresa" placeholder="Nombre de la Empresa" [ngClass]="{'is-invalid': nombre_empresaInvalido, 'is-valid': nombre_empresaValido}">
            <div *ngIf="nombre_empresa?.errors && nombre_empresa?.touched">
              <p *ngIf="nombre_empresa?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="nombre_empresa?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div>

          <div class="mb-3">
            <label for="puesto" class="form-label">Puesto</label>
            <input type="text" class="form-control" formControlName="puesto" placeholder="Puesto" [ngClass]="{'is-invalid': puestoInvalido, 'is-valid': puestoValido}">
            <div *ngIf="puesto?.errors && puesto?.touched">
              <p *ngIf="puesto?.hasError('required')" class="text-danger">
                Campo requerido.
              </p>
              <p *ngIf="puesto?.errors?.['minlength']" class="text-danger">
                Debe ser de 3 o más caracteres.
              </p>
           </div>
          </div> 
          
          <div class="mb-3">
            <label for="logo" class="form-label">Logo</label>
            <input class="form-control" type="file"  formControlName="logo" placeholder="Logo de la empresa">
          </div>

          <div class="mb-3">
            <label for="desde" class="form-label">Desde</label>
            <input type="date" class="form-control" formControlName="desde" >
          </div>

          <div class="mb-3">
            <label for="hasta" class="form-label">Hasta</label>
            <input type="date" class="form-control"  formControlName="hasta">
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          <button type="submit" (click)="guardar()" class="btn btnLogin">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>
