<!--Banner-->
<header>
  <section class="banner" id="banner">
    <div class="container text-center" *ngFor="let persona of personas">
      <!--Banner-->
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="row align-items-center">
            <div class="col-2 col-lg-2"></div>
            <!--Nombre, Apellido y título-->
            <div class="col-sm-8 col-lg-8">
              <h1 class="display-1">{{persona.nombre}} {{persona.apellido}}</h1><br>
              <h2 class="titulo-banner">{{persona.titulo}}</h2> 
            </div>
            <!--Menu lateral-->
            <div class="col-2 col-lg-2">
              <ul class="list-group list-group-horizontal flex-column px-3 mb-2 bottom-0 end-0" id="menu" data-bs-root-margin="0px 0px -40%" class="scrollspy-example p-3 rounded-2" tabindex="0">
                <li class="list-group-item list-group-item-action rounded-5"><a class="nav-link" href="index#presentacion"><i class="fa-solid fa-house"></i></a><span class="list-item-name fw-bold">Sobre mi</span></li>
                <li class="list-group-item list-group-item-action rounded-5"><a class="nav-link" href='index#experiencia'><i class="fa-solid fa-briefcase" ></i></a><span class="list-item-name fw-bold">Experiencia</span></li>
                <li class="list-group-item list-group-item-action rounded-5"><a class="nav-link" href="index#educacion"><i class="fa-solid fa-graduation-cap"></i></a><span class="list-item-name fw-bold">Educación</span></li>
                <li class="list-group-item list-group-item-action rounded-5"><a class="nav-link" href="index#habilidades"><i class="fa-solid fa-star"></i></a><span class="list-item-name fw-bold">Habilidades</span></li>
                <li class="list-group-item list-group-item-action rounded-5"><a class="nav-link" href="index#proyectos"><i class="fa-solid fa-folder"></i></a><span class="list-item-name fw-bold">Proyectos</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
