/* Baner*/
.banner {
    background-image: url(/assets/IMG/banner-full.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
    height: 75vh;
}

/* Nombre y Apellido*/
.display-1{
    font-family: Georgia,serif;
    font-style:italic;
    color: rgb(241, 48, 129);
    text-shadow: 0.125rem 0.125rem 0.25rem #8d8585;
    transform: translateY(8rem);
}

/* Titulo "Desarroladora Full Stack" */
.titulo-banner {
    font-family: 'Trebuchet MS', sans-serif;
    transform: translateY(6rem);
}

/* Menú Lateral*/
#menu{
    z-index: 6;
    position: absolute;
  }

  .list-group-item.list-group-item-action {
    list-style-type: none;
    flex-basis: 80%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.2s ease;
    cursor: pointer;
    color: #2d2d2e;
  }
  
  .list-item-name {
    font-size: 14px;
    font-weight: 200;
    position: absolute;
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
  }
  
  .list-group-item.list-group-item-action:hover {
    color: rgb(247, 22, 108);
    transform: translateY(-5px);
    background-color: transparent;
  }

  .list-group-item.list-group-item-action:hover .list-item-name {
    transform: translateY(20px);
    opacity: 1;
  }
  
  @media (max-width: 200px) {
    .navbar-menu {
      flex-direction: column;
      align-items: right;
      max-width: 80px;
    }

    .list-group-item.list-group-item-action {
        flex-basis: auto;
      }
      
    .list-group-item.list-group-item-action:hover .list-item-name {
      transform: translateY(25px);
    }
  }


/*boton de edicion 
.btn.banner{
    position: absolute;
    z-index: 0;
    text-shadow: 0.125rem 0.125rem 0.25rem #8d8585;
}*/