/* Baner*/
.banner {
    background-image: url(/assets/IMG/banner-full.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    height: 75vh;
}

/* Nombre y Apellido*/
h1.nombre {
    font-family: Georgia,serif;
    font-style:italic;
    color: #f13081;
    text-shadow: 0.125rem 0.125rem 0.25rem #8d8585;
    font-size: 4rem;
    transform: translateY(8rem)
}

/* Titulo "Desarroladora Full Stack" */
h3.titulo {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    transform: translateY(8rem);
}

/*boton de edicion */
.btn.banner{
    position: absolute;
    z-index: 0;
    text-shadow: 0.125rem 0.125rem 0.25rem #8d8585;
}