  <!-- Experiencia-->
  <section id="experiencia" class="experiencia container container-fluid rounded shadow-sm">
    <div class="container text-center">
      <h2 class="subtitulo">Experiencia</h2>
      <p class="texto-experiencia mt-4" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. At inventore a totam maiores perferendis exercitationem quod ullam illo dignissimos quaerat laudantium, adipisci ab aspernatur neque nulla distinctio, quibusdam molestiae tempore?</p>
      
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <br>
  </section>