<!-- Modal -->
  <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="redesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Redes Sociales</h1>
          <button type="button" (click)="limpiar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container text-center">
            <button type="button" class="btn btn-outline-secondary nuevo text-center" data-bs-toggle="modal" data-bs-target="#modalRedes"><i class="fa-solid fa-plus"> Crear</i></button>
          </div>
          <!-- Formulario "Modal Redes Sociales"-->
          <form [formGroup]="form" name="redsocialForm" class="bg-white rounded seccion mt-4">
            <ul class="p-0">
              <li *ngFor="let red_social of redes" class="d-flex justify-content-between align-items-center m-1 ">
                <div class="container">
                  <div class="row justify-content-evenly text-center">
                    <div class="col-4">
                      <i [ngClass]=red_social.icono_red class="fa-2xl"></i>
                    </div>
                    <div class="col-4">
                      <span class="d-flex">
                        <!--Lapiz para editar-->
                        <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0" (click)="cargarDetalle(red_social.id)" data-bs-toggle="modal" data-bs-target="#modalRedes" title="Editar">
                          <i class="fa-solid fa-pencil"></i>
                        </button>
      
                        <!--Boton para borrar-->
                        <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0" (click)="borrar(red_social.id)">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </form>
        </div>  
        <div class="modal-footer">
          <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        </div>  
      </div>
    </div>
  </div>

  <!-- Inicio de Modal de Edición y creación de Redes Sociales -->
  <div class="modal fade" id="modalRedes" name="modalRedes" tabindex="-1" aria-labelledby="modalRedesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Redes Sociales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div  class="modal-body">
          <form [formGroup]="form" name="redsocialForm"class="bg-white rounded seccion">
            <!--Validacion condicional-->
            <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">ID:</span>
              </div>
              <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
            </div>

            <input type="hidden" formControlName="id">
            <div class="mb-3">
              <label for="icono_red" class="form-label">Icono</label>
              <input class="form-control" type="text"  formControlName="icono_red" placeholder="Icono de Font Awesome. ej: fa-brands fa-instagram fa-2xl" [ngClass]="{'is-invalid': icono_redInvalido, 'is-valid': icono_redValido}">
              <div *ngIf="icono_red?.errors && icono_red?.touched">
                  <p *ngIf="icono_red?.hasError('required')" class="text-danger">
                      Campo requerido.
                  </p>
                  <p *ngIf="icono_red?.errors?.['minlength']" class="text-danger">
                      Debe ser de 3 o más caracteres.
                  </p>
              </div>
              <p>Haga <a href="https://fontawesome.com/search">click aquí</a> para buscar el ícono.</p>
            </div>
            <div class="mb-3">
              <label for="url" class="form-label">URL</label>
              <input class="form-control" type="url"  formControlName="url" placeholder="URL" [ngClass]="{'is-invalid': urlInvalido, 'is-valid': urlValido}">
              <div *ngIf="url?.errors && url?.touched">
                  <p *ngIf="url?.hasError('required')" class="text-danger">
                      Campo requerido.
                  </p>
                  <p *ngIf="url?.errors?.['minlength']" class="text-danger">
                      Debe ser de 3 o más caracteres.
                  </p>
              </div>
            </div>
          </form>
        </div>  
        <div class="modal-footer">
          <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          <button type="submit" (click)="guardar()" class="btn btnLogin" [disabled]="form.invalid">Guardar</button>
        </div>  
      </div>
    </div>
  </div>
  <!-- Fin de Modal de Edición y creación de Redes-->
  
