/* ===== Modal Redes Sociales (Navbar)======*/
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-linkedin.fa-2xl,
i.fa-brands.fa-github.fa-2xl{
    color: #0e0f0f;
}

i.fa-brands.fa-instagram.fa-2xl:hover{
color:  #ad0a7a;
}

i.fa-brands.fa-linkedin.fa-2xl:hover{
    color: #164af5;
}

i.fa-brands.fa-github.fa-2xl:hover{
    color: #000000;
}
