  <!-- Hard & Soft Skills-->
  <section id="habilidades" class="habilidades container container-fluid rounded shadow-sm">
    <div class="container" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <div class="container">
      <h2 class="subtitulo text-center">Habilidades</h2>
    </div>
    <br>
    <div class="row progress-circle-container text-center">
      <div class="col-sm-3 col-md-3 col-lg-3 text-center" *ngFor="let habilidad of habilidades">
        <div [ngClass]=habilidad.porcentaje><span><i [ngClass]=habilidad.span></i></span></div>
        <p>{{habilidad.nombre_skill}}</p>
      </div>
    </div>
  </div>
    <br>
  </section>
