<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg- 0 align-items-center">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" *ngFor="let red_social of redes"><a href={{red_social.url}} target="_blank"><i [ngClass]=red_social.icono_red></i></a></li>
            <li class="list-group-item">
                <i class="fa-solid fa-user-lock fa-2xl" type="button" data-bs-toggle="modal" data-bs-target="#modalLogin">
                </i>
            </li>
        </ul>         
    </ul>
</div>
