* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(246, 250, 248);
  height: 100%;
  width: 100%;
}

/* ======Foto de Perfil =======*/
.foto-perfil{
    position: absolute;
    z-index: 502;
    transform: translateY(-50%);
    width: 60%;
    padding-left: 5%;
}

/* ===== Secciones ======*/
section.experiencia, section.educacion, section.habilidades, section.proyectos{
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
}

/* ===== Subtitulos de cada seccion =====*/
.subtitulo{
    font-family: Georgia,serif;
    font-style:italic;
    color: rgb(29, 28, 28);
    text-shadow: 2px 2px 4px #8d8585;
    font-size: 3rem;
}

.bg {
  background-image: linear-gradient(to top, #f7628f 0%, #fe5196 100%);
}

/*====================== buttom up  ==================*/

.to-top {
    position: fixed;
    display: fixed;
    width: 30px;
    text-align: center;
    margin: 0 auto;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
    right: 50px;
    z-index: 999;
    font-size:30px;
    color: #797575;
    scroll-behavior: smooth;
  }
  
  @media screen and (max-width: 767px) {
    .service-h4 h1 {
      font-size: 3rem;
    }
  }
  
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  
  @media (max-width: 767px) {
    #footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: right;
    }
    #footer .go-top {
      margin-top: 10px;
    }
  }
